@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}

.text-h1 {
  font-size: 64px;
  font-weight: bold;
}

.text-h2 {
  font-size: 48px;
  font-weight: bold;
}

.text-h3 {
  font-size: 36px;
  font-weight: bold;
}

.text-h4 {
  font-size: 30px;
  font-weight: bold;
}

.text-h5 {
  font-size: 24px;
  font-weight: bold;
}

.text-h6 {
  font-size: 16px;
  font-weight: bold;
}

.text-h7 {
  font-size: 14px;
  font-weight: bold;
}

.text-h8 {
  font-size: 12px;
  font-weight: bold;
}

.text-p1 {
  font-size: 24px;
}

.text-p2 {
  font-size: 16px;
}

.text-p21 {
  font-size: 20px;
}

.text-p3 {
  font-size: 14px;
}

.text-p4 {
  font-size: 12px;
}

.form-input {
  @apply flex items-center h-[45px] font-medium min-w-[350px] border border-gray-400 rounded-lg text-p3 px-3 ring-focus;
}

.form-input-lessborder {
  @apply flex items-center rounded-lg h-[45px] font-medium min-w-[380px] text-p3 px-3 ring-focus;
}

.button-input-1 {
  @apply flex items-center justify-center h-[45px] w-[420px] text-light-color bg-primary-1 rounded-lg text-h6;
}

.item-header {
  @apply block py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:text-primary-1 lg:border-0 lg:p-0;
}

.level {
  @apply flex justify-center items-center rounded-[100px] text-p3 text-light-color h-[30px] w-fit bg-primary-1 font-semibold px-[10px] py-[10px];
}

.searchbar {
  @apply pl-3 h-full text-sm text-black border border-gray-4 rounded-[5px] rounded-tr-none rounded-br-none w-full focus:ring-[2px] focus:ring-primary-1 focus:outline-none focus:border-primary-1;
}

.ring-hover {
  @apply hover:ring-[2px] hover:ring-primary-1 hover:border-primary-1 hover:bg-primary-1 rounded-lg;
}

.button-normal {
  @apply flex justify-center items-center rounded-[5px] bg-primary-1 text-p2 text-light-color px-6 py-2 hover:bg-primary-dark;
}

.button-delete {
  @apply flex justify-center items-center rounded-[5px] bg-red-1 text-p2 text-light-color px-6 py-2 hover:bg-red-dark;
}

.container-x {
  @apply px-[50px];
}

.select-category {
  @apply flex py-3 px-5 font-semibold bg-primary-4 cursor-pointer peer-checked:bg-primary-2 peer-checked:text-white h-full items-center text-center;
}

.select-level {
  @apply border flex rounded-[10px] font-semibold py-3 px-5 ml-2 cursor-pointer peer-checked:border-primary-1 h-full items-center text-center peer-checked:ring-primary-1 peer-checked:ring-1;
}

.select-avatar {
  @apply border border-gray-4 h-[60px] w-[60px] rounded-full cursor-pointer peer-checked:border-primary-1 items-center peer-checked:ring-primary-1 peer-checked:ring-1 flex bg-white;
}

.item-reaction {
  @apply flex flex-row items-center justify-center gap-2 text-[18px];
}

.item-reaction-click {
  @apply flex flex-row items-center justify-center gap-2 text-[22px];
}

.flex-center-between {
  @apply flex justify-between items-center;
}

.flex-center {
  @apply flex justify-center items-center;
}

.form {
  @apply flex-center flex-col px-8 py-14 bg-light-color rounded-md shadow-shadows-1 gap-7 border border-gray-4;
}

.item-bookmark {
  @apply flex flex-row items-center text-p2 bg-[#CDEDE6]/50 p-[10px] rounded-md gap-3;
}

.ring-hover-item {
  @apply hover:ring-2 hover:ring-primary-1 hover:border-primary-1;
}

.sharing-card {
  @apply flex flex-col border border-gray-4 p-4 gap-3 rounded-lg bg-white ring-hover-item;
}

.ring-focus {
  @apply focus:outline-none focus:ring-[2px] focus:ring-primary-1;
}

.textarea-modal {
  @apply text-sm py-2 px-3 w-full bg-white rounded-lg border border-gray-400 text-black ring-focus;
}

.item-headbar {
  @apply item-header lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-1 lg:p-0;
}

.form-modal {
  @apply flex-center overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none text-black;
}
